<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964776840761-nuqauj4fbls0ogfr1k06h1g78c3enqhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964776840761-nuqauj4fbls0ogfr1k06h1g78c3enqhg</string>
	<key>API_KEY</key>
	<string>AIzaSyBKebuSz2XSd-IJ2vYIO4tTBCfymkJQXm4</string>
	<key>GCM_SENDER_ID</key>
	<string>964776840761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>note-c50c0</string>
	<key>STORAGE_BUCKET</key>
	<string>note-c50c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964776840761:ios:e9acfdfbb1477eb508c7e8</string>
</dict>
</plist>